*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
#outer-calculator{
    background-color: grey;
    border: 5px solid black;
    height: 50vh;
    width: 50vw;
    border-radius: 40px 40px 0px 0px; 
    display: flex;
    justify-content: center;
}
#inner-calculator{
    height: 49vh;
    width: 48vw;
    background-image: linear-gradient(to bottom right, white, grey);
    margin-top: 5px;
    border-radius: 40px 40px 0px 0px; 
    border: 3px solid rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
}
#screen{
    background-color: greenyellow;
    border: 2px solid black;
    height: 4.20vh;
    width: 42vw;
    margin-top: 1.75vh;
    margin-bottom: 1.75vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 3em;
    padding-right: 20px;
}
#column{
    display: flex;
}
#column > div{
    font-size: 3em;
    background-image: linear-gradient(to bottom right, rgb(216, 255, 253), rgb(133, 134, 230));
    border: 2px solid black;
    flex-grow: 1;
    flex-basis: 0;
    height: 8.5vh;
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#column > div:hover{
    background-image: linear-gradient(to bottom right, rgb(216, 255, 253), rgb(233, 231, 110));
    border: 2.5px solid yellow;
}
section{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}